.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 10px 25px purple ;
    color: rgb(199, 0, 0);
    font-weight: bold;
}
.note{
    color: rgb(0, 184, 98);
}
.cpr{
    position: fixed;
    width:100%;
    bottom: 0px;
    font-size: 20px;
    background-color: rgb(230, 223, 5);
    line-height: 30px;
    text-align: center;
    padding: 10px;
}
canvas{
    border: 5px solid rgb(0, 0, 0);
   border-radius: 20px; 
   box-shadow:5px 5px 20px purple;
   height: 500px;
   width: 550px; 
   margin-top: 25px;
}